body{
    background-color: rgb(70, 142, 206); 
}


main{
    background-color: green;
    border-radius: 30%;
    color: white;
    width: 33vw;
    height: 33vw;
    padding: 30px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 1px solid blue;
    color: white;
    border-radius: 25%;


}


#counterApp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    margin: 10vw;
}